<nav class="gdc-navbar visible-md visible-lg "  >
  <div class="container gdc-navbar__body">
    <div class="row">
      <div class="col-xs-10">
        <div class="gdc-header__logo">
          <a ui-sref="home"><object data="assets/images/header-icon.svg" type="image/svg+xml" class="gdc-header__logo-svg">
            <img src="favicon.ico"/>
            <h4 class="gdc-header__logo-text"><strong>國產安心建材履歷</strong></h4>
          </object></a>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar-fixed-top visible-sm visible-xs"  >
  <div class="container gdc-navbar__body">
    <div class="row">
      <div class="col-xs-10">
        <div class="gdc-header__logo">
          <object data="assets/images/header-icon.svg" type="image/svg+xml" class="gdc-header__logo-svg">
            <img src="favicon.ico"/>
            <h4 class="gdc-header__logo-text"><strong>國產安心建材履歷</strong></h4>
          </object>
        </div>
      </div>
    </div>
    <a class="xs-change-house visible-xs visible-sm" ng-click="sendOpenHouseEven()" ng-show="getShowHouseBtnEven"><i class="fa fa-list"></i></a>
  </div>
</nav>
