/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */

@import url(https://www.google.com/fonts#ChoosePlace:select/Collection:Dancing+Script:400,700|Tangerine:400,700);
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";


/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import 'style/bs/setting';
@import 'style/bs/base';


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

// @media screen and (min-width: 769px) and (max-width: 1023px) {
//   .gdf-container{
//     width:100%!important;
//   }
// }


.ngdialog.ngdialog-theme-default{
  padding-top:100px;
  & .ngdialog-content{
    padding: 20px 3px;
  }
}
@media screen and (min-width: 481px) and (max-width: 992px) {
  .ngdialog.ngdialog-theme-default{
    padding-top:50px;
  }
}
@media screen and (max-width: 480px) {
  .ngdialog.ngdialog-theme-default{
    padding-top:10px;
  }
}
