$pad:1023px;
$mobile:500px;
$pc:1024px;
$pc-sm:769px;

$mobile-tab:768;
$mobile-lg:550;
$mobile-plus:418;
$mobile-ios:380;
$mobile-sm:350;

$header-padding:10px;
$font-title:'Dancing Script', cursive;
